.sidebar{
    width: auto;
    height: 100vh;
    border: 1px solid black;
    border-bottom: none;
    color: white;
    background-image:  url("../../assets/windows-10-technology-minimalism-black-wallpaper-ff6c92ff5d991508171db25484d3c030.jpg");
}